.text-center {
    color: #333;
}

body, html {

    width: 100%;
    margin: 0;
    padding-bottom: 30px; /* Ajuste para a altura do footer */
    margin-bottom: 0px; !important;
    font-family: 'Roboto', sans-serif;
    background-image: url('imagens/fundo_moda_inclusiva.png'); /* Fundo gerado pelo DALL-E */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    background-color: #f8f9fa !important; /* Fundo preto */
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-nav .nav-link {
    color: #555 !important; /* Texto branco */
}

.navbar-nav .nav-link:hover {
    color: #000 !important; /* Texto cinza claro ao passar o mouse */
}

.navbar-placeholder {
    margin-bottom: 20px;
}

.navbar-toggler {
    color: #333 !important;/* Define a cor dos tracinhos */
    border-color: rgba(0,0,0,.1); !important; /* Cor da borda se necessário */

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3Csvg/%3E");!important;
}

.navbar {
    position: fixed; /* Mantém o navbar fixo no topo */
    top: 0; /* Alinha o navbar no topo da página */
    left: 0; /* Alinha à esquerda da página */
    width: 100%; /* O navbar deve ocupar a largura total */
    z-index: 1030; /* Assegura que o navbar fique acima de outros conteúdos */
}

body {
    padding-top: 70px; /* Adiciona espaço no topo do corpo da página para evitar sobreposição com o navbar */
    padding-bottom: 60px;
}

.login-section {
    background-color: #f8f9fa;
    min-height: 100vh; /* Mantém a altura mínima para cobrir a altura da viewport */
    display: block; /* Muda de flex para block para evitar o alinhamento flex */
}


.btn-secondary .btn-primary, .btn-google, .btn-facebook {
    background-color: #5dade2;
    border: none;
    margin-bottom: 10px; /* Espaço entre botões */
}

.btn-google {
    background-color: #db4437;
}

.btn-facebook {
    background-color: #3b5998;
}

.filter-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.filter-btn:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.filter-icon {
    height: 50px;
    width: auto;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.feedback-list {
    margin-top: 20px;
}

.feedback-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.feedback-item h5 {
    margin-bottom: 10px;
}

.feedback-item .rating {
    font-size: 16px;
    color: #ffc107;
}

.feedback-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	margin-top: 10px; /* Ajuste conforme necessário */
    padding: 15px; /* Reduz o padding se necessário para telas menores */
}

.feedback-form h2 {
    margin-bottom: 20px;
}

.feedback-form .form-group {
    margin-bottom: 15px;
}

.footer {
    position: fixed; /* Mantém o footer fixo na parte inferior */
    bottom: 0; /* Alinha o footer na parte inferior da página */
    left: 0; /* Alinha à esquerda da página */
    width: 100%; /* O footer deve ocupar a largura total */
    z-index: 1030; /* Assegura que o footer fique acima de outros conteúdos */
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Sombra para dar destaque */
    background-color: #f8f9fa; /* Cor de fundo */
    color: #333; /* Cor do texto */
    padding: 20px 0;

}
.container {
    max-width: 100%; /* Garante que o container nunca seja maior que a tela */
    width: 90%; /* Define a largura para 90% da tela para garantir margem interna */
    background-color: white;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 15px 15px; /* Adiciona padding lateral para não colar nos cantos da tela */
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    margin-bottom: 20px;

}

.container-login {
    max-width: 100%;
    width: 100%; /* Ajustar para usar 100% da tela */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 15px; /* Pode ajustar se necessário para menos, como 10px */
    box-shadow: none; /* Remove sombra para evitar expansão visual externa */
}


.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #5dade2;
    border: none;
}

.btn-primary:hover {
    background-color: #3a8fd2;
}


.login-form {
	margin-top: 10px; /* Ajuste conforme necessário */
    padding: 20px; /* Reduz o padding se necessário para telas menores */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

.brand-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
}

.social-buttons {
    margin-top: 20px; /* Espaço entre o botão de login e os botões sociais */
}


.login-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fonte moderna e clean */
    font-weight: 300;
    margin-bottom: 20px; /* Espaço adicional abaixo do título */
}

.btn-group .btn {
    flex: 1; /* Garante que os botões tenham a mesma largura */
    margin: 5px; /* Adiciona margem para espaçar os botões */
}

.social-buttons .btn {
    width: 40px; /* Reduzir o tamanho do botão */
    height: 40px; /* Reduzir o tamanho do botão */
    margin: 0 5px;
}

.btn-group {
    display: flex; /* Utiliza flexbox para alinhamento dos botões */
}
.btn-primary, .btn-secondary {
    padding: 5px 10px; /* Reduzir o padding dos botões */
    font-size: 14px; /* Tamanho menor de fonte para os botões */
}

.btn-link {
    display: block; /* Garante que o link tome a linha inteira */
    text-align: center; /* Centraliza o texto do link */
    margin-top: 10px; /* Ajusta o espaçamento acima do link */
}


.btn-google {
    background-color: #db4437; /* Cor de fundo para o botão do Google */
    color: white; /* Cor do ícone */
}

.btn-facebook {
    background-color: #3b5998; /* Cor de fundo para o botão do Facebook */
    color: white; /* Cor do ícone */
}

.btn-google, .btn-facebook {
    border: none; /* Remove a borda */
}

.form-control::placeholder {
    color: #bbb; /* Altera a cor do texto do placeholder */
}

.tips-scrolling p {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 20s linear infinite;
}


.user-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid #5dade2; /* A cor da borda pode ser ajustada conforme necessário */
}

.user-profile {
    align-items: center;
    gap: 20px; /* Espaço entre o ícone e o texto */
}

.tips-section {
    background-color: #def3fc   ; !important; /* Cor de fundo azul claro */
    border-radius: 10px;       /* Bordas arredondadas */
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    position: relative;
    padding: 20px;             /* Espaçamento interno para evitar que o conteúdo toque as bordas */
    margin-top: 20px;          /* Espaço adicional acima da seção para separação visual */
}
.last-content {
    margin-bottom: 80px; /* Garante espaço suficiente acima do footer */
}
#nextTip {
    font-size: 24px;
    background: none; /* Remove o fundo padrão do botão */
    color: #007bff !important; /* Cor do ícone, forçando aplicação */
    border: none; /* Remove a borda */
}

#nextTip:hover {
    color: #0056b3 !important; /* Cor do ícone ao passar o mouse */
    background: none; /* Mantém o fundo transparente ao passar o mouse */
}

.info-icon i {
    font-size: 24px; /* Tamanho do ícone */
    color: #007bff; /* Cor do ícone */
    border: 2px solid #007bff; /* Borda opcional */
    border-radius: 50%; /* Faz a borda redonda */
    padding: 5px; /* Espaço dentro do círculo */
}


/* Certifica que os botões tenham a mesma altura */
.btn-fill {
    height: 38px; /* Altura fixa para todos os botões */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Faz ambos os botões ocuparem espaço igual */
    margin: 5px; /* Espaçamento padrão */
}


#toggleTips {
    border: none; /* Remove a borda do botão */
    background: none; /* Remove o fundo para parecer limpo */
}

#toggleTips:hover {
    background-color: #f8f9fa; /* Cor de fundo ao passar o mouse */
}

#toggleIcon {
    font-size: 16px; /* Tamanho do ícone */
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .user-icon {
        width: 50px;  /* Tamanho menor para tablets */
        height: 50px;
    }
    .login-form {
        width: 90%;  /* Aumenta a largura em dispositivos menores para melhor legibilidade */
        padding: 15px; /* Ajusta o padding para telas menores */
    }
    .btn-fill {
        padding: 10px 0; /* Reduz o padding horizontal e aumenta o vertical */
    }
}

@media (max-width: 480px) {
    .user-icon {
        width: 50px;  /* Tamanho ainda menor para celulares */
        height: 50px;
    }
    .login-form {
        width: 95%; /* Quase a largura total em dispositivos muito pequenos */
        padding: 10px; /* Reduz ainda mais o padding */
    }
}
