body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('imagens/fundo_moda_inclusiva.png'); /* Fundo gerado pelo DALL-E */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: #000000 !important; /* Fundo preto */
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* Texto branco */
}

.navbar-nav .nav-link:hover {
    color: #cccccc !important; /* Texto cinza claro ao passar o mouse */
}

.navbar-placeholder {
    margin-bottom: 20px;
}

.login-section {
    background-color: #f8f9fa;
    min-height: 100vh; /* Mantém a altura mínima para cobrir a altura da viewport */
    display: block; /* Muda de flex para block para evitar o alinhamento flex */
}


.btn-primary, .btn-google, .btn-facebook {
    background-color: #5dade2;
    border: none;
    margin-bottom: 10px; /* Espaço entre botões */
}

.btn-google {
    background-color: #db4437;
}

.btn-facebook {
    background-color: #3b5998;
}

.filter-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.filter-btn:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.filter-icon {
    height: 50px;
    width: auto;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.feedback-list {
    margin-top: 20px;
}

.feedback-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.feedback-item h5 {
    margin-bottom: 10px;
}

.feedback-item .rating {
    font-size: 16px;
    color: #ffc107;
}

.feedback-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	margin-top: 10px; /* Ajuste conforme necessário */
    padding: 15px; /* Reduz o padding se necessário para telas menores */
}

.feedback-form h2 {
    margin-bottom: 20px;
}

.feedback-form .form-group {
    margin-bottom: 15px;
}


.container {
    max-width: 100%; /* Garante que o container nunca seja maior que a tela */
    width: 90%; /* Define a largura para 90% da tela para garantir margem interna */
    background-color: white;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 15px 15px; /* Adiciona padding lateral para não colar nos cantos da tela */
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);

}

.container-login {
    max-width: 100%; /* Garante que o container nunca seja maior que a tela */
    width: 90%; /* Define a largura para 90% da tela para garantir margem interna */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 15px; /* Adiciona padding lateral para não colar nos cantos da tela */
}

.text-center {
    margin-bottom: 20px;
    color: #333;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #5dade2;
    border: none;
}

.btn-primary:hover {
    background-color: #3a8fd2;
}


.login-form {
	margin-top: 10px; /* Ajuste conforme necessário */
    padding: 15px; /* Reduz o padding se necessário para telas menores */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

.brand-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
}

.social-buttons {
    margin-top: 20px; /* Espaço entre o botão de login e os botões sociais */
}


.login-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fonte moderna e clean */
    font-weight: 300;
    margin-bottom: 20px; /* Espaço adicional abaixo do título */
}

.social-buttons .btn {
    width: 40px; /* Reduzir o tamanho do botão */
    height: 40px; /* Reduzir o tamanho do botão */
    margin: 0 5px;
}

.btn-primary, .btn-secondary {
	
	
    padding: 5px 10px; /* Reduzir o padding dos botões */
    font-size: 14px; /* Tamanho menor de fonte para os botões */
}

.btn-link {
    display: block; /* Garante que o link tome a linha inteira */
    text-align: center; /* Centraliza o texto do link */
    margin-top: 10px; /* Ajusta o espaçamento acima do link */
}


.btn-google {
    background-color: #db4437; /* Cor de fundo para o botão do Google */
    color: white; /* Cor do ícone */
}

.btn-facebook {
    background-color: #3b5998; /* Cor de fundo para o botão do Facebook */
    color: white; /* Cor do ícone */
}

.btn-google, .btn-facebook {
    border: none; /* Remove a borda */
}

.form-control::placeholder {
    color: #bbb; /* Altera a cor do texto do placeholder */
}

.tips-scrolling p {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


@media (max-width: 768px) {
    .login-form, .feedback-form {
        padding: 10px; /* Reduz ainda mais o padding em telas menores */
    }

    .social-buttons .btn {
        width: 35px; /* Reduz o tamanho dos botões em telas menores */
        height: 35px;
    }

    .logo {
        max-width: 80px; /* Reduz o tamanho do logo em telas menores */
    }
}